**/node_modules/**
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
**/dist
**/build
**/.fusebox
**/npm-debug.log
**/.clang-format
**/package-lock.json